.overflow {
    overflow: hidden;
}

.modal {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;

    &.open {
        .display-flex();
        .justify-content-center();
        .align-items-center();
    }
}

.modal--small {
    .modal__content {
        width: 440px;
    }
}

.modal__content {
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    max-height: 90%;
    max-width: 90%;
    overflow: auto;
    width: 800px;
}

.modal__close {
    .display-flex();
    .align-items-center();
    .justify-content-center();
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 0;
    height: 36px;
    width: 36px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;

    svg {
        fill: currentColor;
        width: 16px;
        height: 16px;
    }
}

.modal-product {
    .display-flex();
}

.modal-product__image {
    width: 43.625%;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.modal-product__description {
    padding: 32px 20px;
    width: 56.375%;

    .item__buttons {
        margin-bottom: 15px;
    }
}

.modal-product__title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.modal-product__article {
    color: fade(@dark, 50%);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
}

.modal-product__status {
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    padding: 10px 20px;

    &.pre {
        background-color: #E1C4A6;
    }

    &.none {
        background-color: #B4B4B4;
    }

    &.avail {
        background-color: #63CC76;
    }
}

.modal-product__select {
    margin-bottom: 15px;

    .selectize-input {
        border-color: #D3D3D3;
        padding: 9px 48px 9px 9px;
    }

    .selectize-control.single .selectize-input::after {
        top: 11px;
    }
}

.modal-product__select-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.modal-product__price {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;

    .price-old {
        color: @red;
        font-size: 0.78em;
        margin-right: 10px;
        text-decoration: line-through;
    }
}

.modal-product__button {
    margin-bottom: 20px;

    .btn {
        width: 100%;
    }
}

.modal-availability {
    padding: 40px 30px;
}

.modal-availability__title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.modal-availability__article {
    font-size: 14px;
    color: fade(@dark, 50%);
    margin-bottom: 12px;
}

.modal-availability__count {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;

    span {
        font-weight: 600;
    }
}

.modal-availability__list {
    counter-reset: avail;
    max-height: 268px;
    overflow: auto;
    .scroll-thin();
}

.modal-availability__item {
    .display-flex();
    .align-items-baseline();
    counter-increment: avail;
    padding: 5px 0;

    &::before {
        .flex(0,0,auto);
        color: fade(@dark, 50%);
        content: counter(avail);
        font-size: 18px;
        font-weight: 600;
        margin-right: 10px;
        text-align: right;
        width: 24px;
    }
}

.modal-availability__item-name {
    .flex(0,0,auto);
    font-size: 18px;
    font-weight: 600;
    width: 36%;
}

.modal-availability__item-address {
    padding-left: 20px;
    width: 64%;
}

.modal-buy {
    padding: 56px 30px;
}

.modal-buy__title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 6px;
    text-align: center;
    text-transform: uppercase;
}

.modal-buy__text {
    margin-bottom: 30px;
    text-align: center;
}