div.title-search-result {
    background-color: #fff;
    border: none;
    left: 0 !important;
    width: 100% !important;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
}

div.title-search-fader {
    display: none !important;
}

table.title-search-result tr.title-search-selected a, table.title-search-result tr.title-search-selected td, table.title-search-result tr.title-search-selected td.title-search-more a {
    background-color: @border !important;
}